### MonoDevelop ###
#my logs
*.log

#User Specific
*.userprefs
*.usertasks

#Mono Project Files
*.pidb
*.resources
test-results/

#Build results
*/[Bb]in/*
*/[Oo]bj/*
*[Bb]in/*
*[Oo]bj/*

### Linux ###
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*
