<NetworkConfiguration>
	<RoutingMatrix>
		<Row Index="0">0;P1;P2;P3;P4</Row>
		<Row Index="1">0.25;0;0.375;0.375;0</Row>
		<Row Index="2">0.25;0.375;0;0;0.375</Row>
		<Row Index="3">0.25;0.375;0;0;0.375</Row>
		<Row Index="4">0.25;0;0.375;0.375;0</Row>
	</RoutingMatrix>

	<Nodes>
		<Node  Index="1">
			<Lambda Stream="1">105</Lambda>
			<Mu Stream="1">
				<Ethernet Type="Gigabit" FrameLength="Min"/>
		    </Mu>

		    <Lambda Stream="2">14</Lambda>
			<Mu Stream="2">
				<Ethernet Type="Gigabit" FrameLength="Max"/>
		    </Mu>
		</Node>

		<Node  Index="2">
			<Lambda Stream="1">120</Lambda>
			<Mu Stream="1">
    			<Ethernet Type="Gigabit" FrameLength="Min"/>
			</Mu>

			<Lambda Stream="2">13</Lambda>
			<Mu Stream="2">
    			<Ethernet Type="Gigabit" FrameLength="Max"/>
			</Mu>
		</Node>

		<Node  Index="3">
			<Lambda Stream="1">115</Lambda>
			<Mu Stream="1">
				<Ethernet Type="Gigabit" FrameLength="Min"/>
			</Mu>

			<Lambda Stream="2">12</Lambda>
			<Mu Stream="2">
				<Ethernet Type="Gigabit" FrameLength="Max"/>
			</Mu>
		</Node>

		<Node  Index="4">
			<Lambda Stream="1">110</Lambda>
			<Mu Stream="1">
				<Ethernet Type="Gigabit" FrameLength="Min"/>
			</Mu>

			<Lambda Stream="2">15</Lambda>
			<Mu Stream="2">
				<Ethernet Type="Gigabit" FrameLength="Max"/>
			</Mu>
		</Node>
	</Nodes>
</NetworkConfiguration>